<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	 <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Rehab</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="/img/fenix.png" rel="icon">
 
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
 
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
	 <!-- ======= Header ======= -->
  <section th:fragment="navbar" id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto: squaddezessete@gmail.com">Squad 17 -
            RecodePRO</a></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-tiktok"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->
  
   <header th:fragment="navbar"  id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a th:href="@{/}" class="logo d-flex align-items-center">

        <h1><a th:href="@{/}">ReHab</a><span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>

          <li><a href="#about">Quem Somos</a></li>
          <li sec:authorize="hasRole('COMUM')" class="dropdown"><a href="#"><span>Oportunidades</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li class="dropdown"><a th:href="@{/vagas}"><span>Vagas</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#services">Em Destaque</a></li>
                  <li><a th:href="@{/alunos/novo}">Banco de Talentos</a></li>
                </ul>
              </li>
              <li><a th:href="@{/cursos}">Cursos</a></li>
            </ul>
          </li>
          

          <li><a th:href="@{/empresas/novo}"> Seja nosso Parceiros</a></li>
          
          <li><a href="#team">Nosso Time</a></li>
          <li><a href="#contact">Contato</a></li>
           <li sec:authorize="hasRole('ADMIN')" class="dropdown"><a th:href="@{/admin}"><span>Admin</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li class="dropdown"><a th:href="@{/alunos}"><span>Banco de Talentos</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a th:href="@{/alunos/novo}">Cadastra</a></li>
                  <li><a th:href="@{/alunos}">Listar</a></li>
                </ul>
              </li>
               <li><a th:href="@{/usuarios}">Usuario</a></li>
              <li><a th:href="@{/cursos}">Cursos</a></li>
              <li><a th:href="@{/vagas}">Vagas</a></li>
              <li><a th:href="@{/empresas}">Empresas</a></li>
            </ul>
          </li>
        
				
				<li>
					<div sec:authorize="isAnonymous()">
				<ul>
					<li>
						<a class="navbar-brand" th:href="@{/usuarios/novo}">Cadastre-se</a>
					</li>
					<li>
   						<a href="https://ai-inteligencia.web.app/qiqi.html" class="navbar-brand">QiQi</a>
					</li>

					<li>
						<a class="btn btn-outline-light" th:href="@{/login}">Login</a>
					</li>
				</ul>
			</div></li>
			
			<li>
				<div sec:authorize="isAuthenticated()">
				<ul >
					<li class="nav-item">
						<div class="nav-link">
							<span style="color: #ffffff; ">Welcome,</span>
							<strong style="color: #ffffff; margin-right: 10px;" th:text="${#authentication.name}"></strong>
						</div>
					</li>
					<li class="nav-item">
						<a class="btn btn-outline-light" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
			</li>
       
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
	
	
</body>