<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
	<meta charset="UTF-8">
	<title> Adicionar Categoria </title>
</head>
 
<body>
	<h2> Cadastro de Categoria</h2>
	<form th:action="@{/categorias/save}" th:object="${categoria}" method="post">
		<div>
			<label for="nome"> Nome: </label>
			<input type="text" id="nome" th:field="*{nome}" />
		</div>
		<div>
			<label for="descricao"> Descrição: </label>
			<input type="text" id="descricao" th:field="*{descricao}" />
		</div>
		<div>
			<button type="submit"> Salvar </button>
		</div>
	</form>
 
</body>
 
</html>