<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
	<meta charset="UTF-8">
	<title> Edição de Categorias </title>
</head>
 
<body>
	
	<h2> Editar Categorias </h2>
	<form th:action="@{/categorias/editar/{id}(id=${categoria.id})}" th:object="${categoria}" method="post">
		<div>
			<label for="id"> ID: </label>
			<input type="text" id="id" th:field="*{id}" th:readonly="readonly" />
		</div>
		<div>
			<label for="nome"> Nome: </label>
			<input type="text" id="nome" th:field="*{nome}" />
		</div>
		<div>
			<label for="descricao"> Descrição: </label>
			<input type="text" id="descricao" th:field="*{descricao}" />
		</div>
		<div>
			<button type="submit"> Salvar </button>
		</div>
	</form>
</body>
 
</html>