<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Rehab</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="/img/fenix.png" rel="icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
   <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
 
  <link href="/css/0main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto: squaddezessete@gmail.com">SQUAD 17 -
            Recode PrO</a></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-tiktok"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- Final Navbar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">

        <h1>ReHab<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a th:href="@{/index}">ReHab</a></li>
          <li><a href="#about">Missão, Visão e Valores</a></li>
          <li><a  th:href="@{/empresas}">Parceiros - Filia-se</a></li>
          <li><a href="#team">Nosso Time</a></li>
          <li class="dropdown"><a th:href="@{/cursos}"><span>Cursos | Alunos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a th:href="@{/cursos/novo}">Cadastrar</a></li>
              <li class="dropdown"><a href="#"><span>Cursos</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Informatica</a></li>
                  <li><a href="#">Programção</a></li>
                  <li><a href="#">Designer</a></li>
              
                </ul>
              </li>
              
            </ul>
          </li>
          <li><a href="#contact">Contato</a></li>
          <li><a th:href="@{/alunos}">Login</a></li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Bem vindos à <span>ReHab</span></h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#contact" class="btn-get-started">Faça Parte</a>
            <a href="https://www.youtube.com/watch?v=zKFFyw5hNBs"
              class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Assista
                o Video</span></a>

          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="/img/RehHabPrinc-removebg-preview.png" class="img-fluid" alt="" data-aos="zoom-out"
            data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-house-check"></i></div>
              <h4 class="title"><a href="https://sage.saude.gov.br/paineis/planoCrack/lista_caps.php?output=html&"
                  target="_blank" class="stretched-link">CAPS</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-heart-pulse"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Projeto de Vida</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Onde Estamos</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-houses"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Clínicas Parceiras</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Missão, Visão e Valores</h2>
          <p>Nós acreditamos em valores essenciais como compaixão, respeito e integridade, e os aplicamos em todas as áreas. Através da colaboração, educação e esperança, buscamos ajudar indivíduos em sua jornada de recuperação e transformação.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="/img/" class="img-fluid rounded-4 mb-4" alt="">
            <p><strong>Missão:</strong> Nossa missão  é assegurar uma vida digna para todos os seres humanos, com foco na reintegração de ex-dependentes químicos à sociedade. 
			Reconhecemos que esta é uma questão de saúde pública e buscamos orientá-los em seus propósitos de vida, oferecendo apoio contínuo para que trilhem seus caminhos na constante luta contra o vício.</p>
            <p><strong>Visão:</strong> 
Nós buscamos criar acolhimento e mostrar que todos são humanos perante a qualquer dificuldade. Valorizamos a inclusão e o compartilhamento de conhecimentos.
.</p>
            <p><strong>Valores:</strong> Inspiramos esperança nos dependentes químicos, mostrando que a recuperação é possível e que eles têm o potencial de transformar suas vidas. Acreditamos no poder da esperança como motivador para a mudança positiva.</p>
          </div>

        </div>

      </div>
    </section>

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <p class="text-center">Clique</p>
        <a href="https://www.youtube.com/watch?v=dfsOl6BA9zI&t=51s" class="glightbox bg-dark play-btn"></a>
        <h3>Documentário que dá voz</h3>
        <p>A dependência química é uma doença caracterizada pelo uso descontrolado de uma ou mais substâncias que podem alterar o estado mental. É um transtorno mental que afeta tanto a saúde física quanto a saúde psíquica do indivíduo. Os dependentes químicos enfrentam desafios diários na luta contra a dependência, mas com o apoio adequado, tratamento e compreensão, é possível buscar a recuperação e a transformação. 
        </p>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="parceiros" class="parceiros sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2 style="color: white;">Vagas em destaque</h2>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <h3>Vendedor </h3>
              <h4><strong>Descrição</strong></h4>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis
                tempore et consequatur.</p>
        	 <a href="#" class="readmore stretched-link bg-dark">Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Cinemagrafista</h3>
               <h4><strong>Descrição</strong></h4>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut
                nesciunt dolorem.</p>
                   <a href="#" class="readmore stretched-link bg-dark">Saiba mais <i class="bi bi-arrow-right"></i></a>
            
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Garçom</h3>
               <h4><strong>Descrição</strong></h4>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci
                eos earum corrupti.</p>
                  <a href="#" class="readmore stretched-link bg-dark">Saiba mais <i class="bi bi-arrow-right"></i></a>
            
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Cuidador de idosos</h3>
               <h4><strong>Descrição</strong></h4>
              <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident
                adipisci neque.</p>
         <a href="#" class="readmore stretched-link bg-dark">Saiba mais <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Professor de música</h3>
               <h4><strong>Descrição</strong></h4>
              <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem
                alias eius labore.</p>
                  <a href="#" class="readmore stretched-link bg-dark">Saiba mais <i class="bi bi-arrow-right"></i></a>
            
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <h3>Jardineiro</h3>
               <h4><strong>Descrição</strong></h4>
              <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti
                recusandae ducimus enim.</p>
        <a href="#" class="readmore stretched-link bg-dark">Saiba mais <i class="bi bi-arrow-right"></i></a>
             
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Inspirações</h2>
          <p>Alguns artistas que lutaram contra o vício</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/giba.jpg" class="testimonial-img flex-shrink-0" alt="" width="100"
                      height="100">
                    <div>
                      <h3>Giba</h3>
                      <h4>Ex-Jogador de Vôlei, Embaixador do Volêi, Palestrante e Comentarista</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Considerado um dos maiores atletas do esporte no Brasil, admitiu publicamente em 2013 que enfrentou
                    problemas com álcool e precisou buscar ajuda para superar a dependência.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/drew.gif" class="testimonial-img flex-shrink-0" alt="" width="100"
                      height="100">
                    <div>
                      <h3>Drew Barrymore</h3>
                      <h4>Atriz, Produtora, Diretora, Empresária e Autora</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Drew enfrentou problemas com álcool e drogas desde muito jovem. Ela superou essas dificuldades e
                    falou abertamente sobre sua jornada de recuperação.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/casagrande.jpeg" class="testimonial-img flex-shrink-0" alt=""
                      width="100" height="100">
                    <div>
                      <h3>Walter Casagrande Jr.</h3>
                      <h4>Ex-jogador de Futebol, Comentarista Esportivo, Colunista, Autor e Palestrante</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Casagrande também é conhecido por compartilhar sua história de superação do vício em drogas. Ele
                    aborda suas lutas e recuperação em entrevistas e em sua autobiografia.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/britney.gif" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Britney Spears</h3>
                      <h4>Cantora, Compositora, Dançarina, Atriz e Empresária</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Britney enfrentou problemas públicos relacionados a sua saúde mental e uso de substâncias. Embora
                    nem todos os detalhes sejam conhecidos, ela expressou em várias entrevistas a pressão e os desafios
                    que enfrentou na indústria do entretenimento.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/Dadoo.png" class="testimonial-img flex-shrink-0" alt=""
                      width="100" height="100">
                    <div>
                      <h3>Dado Dolabella</h3>
                      <h4>Ator, Cantor, Empresário e Ativista Ambiental</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Dado já enfrentou problemas relacionados ao uso de drogas e álcool. Ele passou por períodos de
                    reabilitação e, em algumas ocasiões, falou sobre sua jornada de recuperação.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/demi.gif" class="testimonial-img flex-shrink-0" alt="" width="100"
                      height="100">
                    <div>
                      <h3>Demi Lovato</h3>
                      <h4>Cantora, Atriz, Compositora, Dubladora, Autora e Advogada da Daúde Mental e Bem-Estar</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Demi enfrentou desafios com transtornos alimentares, automutilação e dependência química. Ela falou
                    abertamente sobre sua jornada de recuperação, sendo uma voz ativa na promoção da saúde mental e da
                    sobriedade.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/vampeta.png" class="testimonial-img flex-shrink-0" alt=""
                      width="100" height="100">
                    <div>
                      <h3>Vampeta</h3>
                      <h4>Ex-jogador de Futebol, Empresário, Dirigente Esportivo e Comentarista Esportivo</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Campeão mundial com a seleção brasileira em 2002, falou abertamente sobre seus problemas com o
                    álcool em entrevistas. Ele também destacou a importância da recuperação.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/rob.gif" class="testimonial-img flex-shrink-0" alt="" width="100"
                      height="100">
                    <div>
                      <h3>Robert Downey Jr</h3>
                      <h4>Ator, Produtor e Cantor</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    O famoso ator, conhecido por seu papel como Tony Stark/Iron Man nos filmes da Marvel, lutou contra o
                    vício em drogas durante anos. Ele passou por reabilitação e, após sua recuperação, tornou-se um
                    defensor da sobriedade.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->


            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/machado.jpg" class="testimonial-img flex-shrink-0" alt=""
                      width="100" height="100">
                    <div>
                      <h3>Fernanda Machado</h3>
                      <h4>Atriz, Dubladora, Produtora, Escritora e Apresentadora</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Fernanda é conhecida por seus papéis em novelas brasileiras, compartilhou detalhes de sua luta
                    contra o alcoolismo. Ela fala abertamente sobre sua recuperação e como isso afetou positivamente sua
                    vida pessoal e profissional.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/matt.gif" class="testimonial-img flex-shrink-0" alt="" width="100"
                      height="100">
                    <div>
                      <h3>Matthew Perry</h3>
                      <h4>Ator, Produtor, Escritor e Comediante</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Conhecido por seu papel como Chandler Bing em "Friends", Matthew Perry teve uma batalha pública com
                    o abuso de substâncias. Ele falou abertamente sobre sua experiência e foi um defensor da
                    conscientização sobre a dependência química.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="/img/testimonials/zeca.jpg" class="testimonial-img flex-shrink-0" alt="" width="100"
                      height="100">
                    <div>
                      <h3>Zeca Pagodinho</h3>
                      <h4>Cantor, Compositor, Instrumentista, Empresário e Ator</h4>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Zeca Pagodinho é conhecido por sua sinceridade sobre sua relação com o álcool. Ele já abordou em
                    entrevistas como conseguiu superar a dependência e levar uma vida mais equilibrada.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Nosso Time</h2>
          <p>A união e a colaboração entre nós fortalecem nossas habilidades individuais, permitindo que alcancemos resultados extraordinários. Nós compartilhamos ideias, dividimos responsabilidades e nos apoiamos mutuamente para atingir nossos objetivos comuns.</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="/img/Esthefany.jpg" class="img-fluid" alt="">
              <h4>Esthefany Santos</h4>
              <span>Front-end</span>
              <div class="social">
                <a href="https://github.com/sthee-ed"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/esthefany-e-434a50277/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="/img/team/Evanilson.jpg" class="img-fluid" alt="">
              <h4>Evanilson Almeida</h4>
              <span>Back-end</span>
              <div class="social">
                <a href="https://github.com/Evanilsondejesus" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/evanilson-de-jesus/" target="_blank"><i
                    class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="/img/team/Fernanda.png" class="img-fluid" alt="">
              <h4>Fernanda Rodrigues</h4>
              <span>Back-end</span>
              <div class="social">
                <a href="https://github.com/Fernandathsr" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/fernanda-rodriguess/" target="_blank"><i
                    class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="/img/team/Felipe.jpg" class="img-fluid" alt="">
              <h4>Felipe Alves</h4>
              <span>Back-end</span>
              <div class="social">
                <a href="https://github.com/FelipeSysten" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/felipe-souza-746ab8142/" target="_blank"><i
                    class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="/img/team/Nancy.jpeg" class="img-fluid" alt="">
              <h4>Neucielle Quadros</h4>
              <span>Front-end</span>
              <div class="social">
                <a href="https://github.com/Neucielle" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/neucielle-quadros/" target="_blank"><i
                    class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="/img/team/Nico.jpg" class="img-fluid" alt="">
              <h4>Nicholas Dantas</h4>
              <span>Front-end</span>
              <div class="social">
                <a href="https://github.com/nikorv" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/nicholasmacedo/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="/img/team/Polli.jpg" class="img-fluid" alt="">
              <h4>Polliana Silva</h4>
              <span>Front-end</span>
              <div class="social">
                <a href="https://github.com/pollianasilva" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/polliana-silva/" target="_blank"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Perguntas <strong>Frequentes</strong></h3>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    O que são CAPS (Centros de Atenção Psicossocial)?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <p>"Os CAPS são serviços especializados de saúde mental de caráter aberto e comunitário, ou seja,
                      inseridos na comunidade e que funcionam em regime de porta aberta, sem necessidade de agendamento
                      prévio ou encaminhamento para ser acolhido no serviço.</p>
                    <p>A assistência em saúde mental é realizada por equipe multiprofissional que atua sob a ótica
                      interdisciplinar, composta por: psiquiatras, clínicos, pediatras, fonoaudiólogos, psicólogos,
                      terapeutas ocupacionais, assistentes sociais, equipe de enfermagem, farmacêuticos, a depender da
                      modalidade do CAPS.</p>
                    <p>As atividades podem ser coletivas, como grupos de usuários, ou individuais. Após acolhimento
                      inicial e avaliação da equipe, o cuidado nesses espaços é desenvolvido por meio de Projeto
                      Terapêutico Singular (PTS), que envolve equipe, usuário e família. </p>
                    <p>Caso sua cidade não tenha CAPS, por favor compareça a um posto de saúde e busque informações!"
                    </p>
                    <a class="btn btn-success"
                      href="https://sage.saude.gov.br/paineis/planoCrack/lista_caps.php?output=html&" target="_blank"
                      >Encontre o CAPS na sua cidade</a>
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Qual CAPS se adequa a minha necessidade?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <p>CAPS I: Atende pessoas de todas as faixas etárias que apresentam sofrimento mental grave e
                      persistente, incluindo aquele decorrente do uso nocivo e dependência de álcool e outras drogas.
                    </p>
                    <p>CAPS II: Atende pessoas maiores de 18 anos que apresentam sofrimento mental grave e persistente.
                    </p>
                    <p>CAPS III: Atende pessoas maiores de 18 anos que apresentam sofrimento mental grave e persistente.
                      Proporciona serviços de atenção contínua, com funcionamento vinte e quatro horas, incluindo
                      feriados e finais de semana, e acolhimento noturno.</p>
                    <p>CAPS i: Atende crianças e adolescentes que apresentam sofrimento mental grave e persistente, até
                      18 anos, incluindo aquele relacionado ao uso de álcool e outras drogas, até 16 anos.</p>
                    <p>CAPS AD: Atende pessoas maiores de 16 anos que apresentam sofrimento mental grave e persistente
                      decorrente do uso nocivo e dependência de álcool e outras drogas.</p>
                    <p>CAPS AD III Álcool e Drogas: Atende pessoas maiores de 16 anos que apresentam sofrimento mental
                      grave e persistente decorrente do uso nocivo e dependência de álcool e outras drogas. Proporciona
                      serviços de atenção contínua, com funcionamento vinte e quatro horas, incluindo feriados e finais
                      de semana, e acolhimento noturno.</p>
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    Qual a importância do "Planejamento de Vida"?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <p>Um "projeto de vida" é de extrema importância para uma pessoa reabilitada, especialmente para
                      aqueles que superaram uma dependência química. Aqui estão algumas razões pelas quais um projeto de
                      vida é crucial nesse contexto:</p>
                    <p><strong>1. Sentido de Propósito: </strong>Um projeto de vida proporciona um propósito claro e
                      significativo. Após a reabilitação, ter metas e objetivos específicos pode ajudar a preencher o
                      vazio deixado pelo uso anterior de substâncias, proporcionando um novo foco e direção.</p>
                    <p><strong>2. Prevenção de Recaídas: </strong>Ter um projeto de vida estruturado pode ajudar a
                      prevenir recaídas. O tempo ocioso ou a falta de ocupação significativa podem aumentar o risco de
                      retorno ao comportamento anterior. Um projeto de vida oferece uma alternativa positiva e
                      construtiva.</p>
                    <p><strong>3. Desenvolvimento Pessoal: </strong>Um projeto de vida bem elaborado inclui o
                      desenvolvimento pessoal contínuo. Isso pode envolver a aprendizagem de novas habilidades, a busca
                      por educação ou treinamento profissional, e o crescimento emocional. Esse contínuo desenvolvimento
                      pessoal contribui para a autoestima e a autoeficácia.</p>
                    <p><strong>4. Estabelecimento de Metas Realistas: </strong> O estabelecimento de metas realistas é
                      uma parte fundamental de um projeto de vida. Isso permite que a pessoa reabilitada defina passos
                      alcançáveis, o que é essencial para manter a motivação e o senso de realização.</p>
                    <p><strong>5. Integração Social: </strong>Um projeto de vida muitas vezes envolve interações sociais
                      saudáveis. Isso pode incluir a construção ou reconstrução de relações familiares, a participação
                      em grupos de apoio, a busca de amizades positivas e a integração em atividades comunitárias.</p>
                    <p><strong>6. Saúde e Bem-Estar: </strong> O cuidado com a saúde física e mental muitas vezes é uma
                      parte integrante de um projeto de vida. Isso pode incluir a adoção de hábitos saudáveis, como uma
                      dieta equilibrada, exercícios regulares e práticas de autocuidado.</p>
                    <p><strong>7. Resiliência e Adaptação: </strong>Ter um projeto de vida ajuda na construção de
                      habilidades de resiliência e adaptação. A vida está sujeita a desafios e mudanças, e um projeto de
                      vida bem elaborado capacita a pessoa a enfrentar esses desafios de maneira construtiva.</p>
                    <p>Em resumo, um projeto de vida oferece uma estrutura que promove o crescimento pessoal, a
                      integração social e a prevenção de recaídas, contribuindo significativamente para a jornada de
                      recuperação e reabilitação de uma pessoa após superar uma dependência química.</p>
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Como fazer o Projeto de Vida de forma gratuita?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <p>Aqui estão algumas sugestões de sites que oferecem ferramentas e orientações para esse fim:</p>

                    <p> <strong>MindTools: </strong> O MindTools oferece uma variedade de recursos, incluindo artigos e
                      ferramentas interativas para
                      ajudar na definição de metas, desenvolvimento de habilidades e planejamento de carreira.
                    <p><a class="btn btn-success" href="https://www.mindtools.com/" target="_blank"
                        >Clique para acessar</a></p>
                    </p>
                    <p><strong>My Next Move: </strong>Este site, mantido pelo Departamento do Trabalho dos Estados
                      Unidos, fornece ferramentas para
                      explorar carreiras, identificar interesses e habilidades, e criar um plano para o futuro
                      profissional.
                    <p><a class="btn btn-success" href="https://www.mynextmove.org/" target="_blank"
                       >Clique para acessar</a></p>
                    </p>
                    <p><strong>Bussola Escolar: </strong> Esse site é voltado para orientação educacional e
                      profissional. Oferece testes de interesse,
                      personalidade e habilidades, além de ajudar na escolha de cursos e carreiras.
                    <p><a class="btn btn-success" href="https://bussolaescolar.com/" target="_blank"
                        >Clique para acessar</a></p>
                    </p>
                    <p><strong>Vida e Carreira: </strong> O Vida e Carreira disponibiliza ferramentas e informações para
                      ajudar na definição de objetivos pessoais e profissionais, incluindo orientações sobre
                      planejamento de carreira e desenvolvimento
                      pessoal.
                    <p><a class="btn btn-success" href="https://www.vidaecarreira.com/" target="_blank"
                      >Clique para acessar</a></p>
                    </p>
                    <p><strong>Jobipedia: </strong>Focado em orientação profissional, o Jobipedia oferece conselhos
                      práticos de profissionais de recursos humanos para ajudar na construção de carreiras.
                    <p><a class="btn btn-success" href="https://www.jobipedia.org/" target="_blank"
                        >Clique para acessar</a></p>
                    </p>
                    <p><strong>CV Maker: </strong> Este site auxilia na criação de currículos, que é uma parte
                      importante do projeto de vida,
                      especialmente quando se trata de metas profissionais.
                    <p><a class="btn btn-success" href="https://www.cvmaker.pt/" target="_blank"
                        >Clique para acessar</a></p>
                    </p>
                    <p><strong>Coursera: </strong>Embora muitos cursos na Coursera sejam pagos, alguns são oferecidos
                      gratuitamente. Este site pode
                      ser útil para adquirir novas habilidades e conhecimentos que contribuirão para o desenvolvimento
                      pessoal e profissional.
                    <p><a class="btn btn-success" href="https://www.coursera.org" target="_blank"
                        >Clique para acessar</a></p>
                    </p>
                    <p>Lembre-se de que, ao criar um projeto de vida, é útil combinar várias fontes de informações e
                      usar ferramentas que se alinhem aos seus objetivos específicos. Além disso, considerar a
                      orientação de profissionais, como orientadores de carreira ou terapeutas, pode ser benéfico.</p>
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                   Motivos para fazer parte do projeto
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Esse projeto é importante para você, porque podemos ajudar e a melhorar a sua qualidade de vida. Nós da Rehab queremos proporcionar oportunidades para se reintegrarem à sociedade e viverem de forma independente.
                  </div>
                </div>
              </div><!-- # Faq item-->


            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contato</h2>
          <p>Entre em contato conosco</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
            

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>rehab@rehab.com.br</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Telefone:</h4>
                  <p>(55) 55 5555 - 5555</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>Horário de atendimento:</h4>
                  <p>Seg a Sexta: 9:00 - 17:30</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder=" Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Menssagem" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Carregando</div>
                <div class="error-message"></div>
                <div class="sent-message">Mensagem Enviada!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <h4>Renove-se, Renasça, Reabilite-se</h4>
          </a>
       
          <div class="social-links d-none d-md-flex align-items-center">
            <a href="#" class="twitter"><i class="bi bi-tiktok"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links Rápidos</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Nossos Valores</a></li>
            <li><a href="#">parceiros</a></li>
          </ul>
        </div>


      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>SQUAD-17</span></strong>. Projeto Rehab - Recode Pro
      </div>
     
    </div>

  </footer><!-- End Footer -->
 

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/aos/aos.js"></script>
  
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>
 


</body>

</html>