<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
	<meta charset="UTF-8">
	<title> Listagem de Categorias </title>
</head>
 
<body>
	
	<h2> Lista de Categorias </h2>
	<a th:href="@{/categorias/novo}"> Add Categoria</a>
	<table>
		<tr>
			<th> ID </th>
			<th> Nome </th>
			<th> Descrição </th>
			<th> Ações </th>
		</tr>
		<tr th:each="categoria : ${categorias}">
			<td th:text="${categoria.id}"> </td>
			<td th:text="${categoria.nome}"> </td>
			<td th:text="${categoria.descricao}"> </td>
			<td>
				<a th:href="@{/categorias/editar/{id}(id=${categoria.id})}"> Editar </a>
				<a th:href="@{/categorias/deletar/{id}(id=${categoria.id})}"> Excluir </a>
			</td>
		</tr>
	</table>
</body>
 
</html>